{{!-- <p>About: This is a blog for web developers</p> --}}

<ul class="list-group">
  {{#each posts}}
    <li class="list-group-item p-0">
      <div class="d-flex w-100 justify-content-between">
        <a href="/post/{{id}}"><h2>{{title}}</h2>
         <span><h5>- created by {{user.username}} on {{format_date createdAt}}</h5></span>
        </a>
        <small>{{commentsCount}} comments so far</small>
      </div>
    </li>
  {{/each}}
</ul>